
.logo {
  display: flex;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
  margin-right: 8px;
}
.webpage{
  padding-left:8px;
  padding-top: 12px;
}
.header1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: 'Charmonman', cursive;
  color: #E77719;
  font-size:2.6em;
}
.desc1{
  padding: 20px;
  text-align: justify;
  font-family: 'Gafata', sans-serif;
}
.header2{
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Charmonman', cursive;
  color:#232136;
  font-size:2.6em;
}
.desc2{
  padding: 20px;
  padding-bottom: 30px;
  text-align: justify;
  font-family: 'Gafata', sans-serif;
  color:white;
}
.instructions{
  background: #E77719;
  margin-bottom: 0px;
}
.numstart{
  background: #232136;
  color:white;
}

.getstart{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: 'Charmonman', cursive;
  color: #E77719;
  font-size:2.3em;
}
hr.garis {
  border-color : white;
}
#random {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
.btn-1 {
  border-radius: 8px;
  width: 275px;
  height: 50px;
  outline: none;
  border:none;
  background:  #D9302C;
  color:  white;
  box-shadow: inset 0 0 0 0 #45B6FE;
  transition: ease-out 0.3s;
}

.btn-1:hover {
  box-shadow: inset 275px 0 0 0 #45B6FE;
  color: black;
}

textarea {
  width: 100%;
  height: 120px;
}
.random-fact {
  font-family: 'Gafata', sans-serif;
  font-size: 1.5em;
  color:white;
}
input {
  width: 100%;
  height: 40px;
  outline:none;
  border:none;
  border-bottom:3px silver;
  border-radius:8px;
}
.note{
  font-size: 0.8em;
  font-style: italic;
}
.formulir {
  margin: 0 auto;
}
.footer{
  background:#4E5054;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /*margin-top:20px;*/
}
.link{
  color: white;
}


@media (min-width: 600px) {
  .formulir {
    padding: 40px;
    width: 600px;
  }
  .copyright {
    text-align: center;
    margin-left: 150px;
    color: white;
  }
}

@media (max-width: 599px) {
  .formulir {
    padding: 40px;
  }
  .copyright {
    text-align: center;
    color: white;
    padding: 50px;
  }
}
.quotes {
  text-align: center;
}
.quote {
  padding: 20px;
  font-size: 2em;
  font-family: 'Kaushan Script', cursive;
}
.author {
  font-size: 1.5em;
  font-family: 'Gafata', sans-serif;
}
