a{
 font-family: 'Oxanium', cursive;  
 color:#D49513;
 padding:5px; 
}
#fotoprofil{
 border-color:#178BFD;
 border-style:solid;
}
h2{
 color:#D49513;
 text-align:center;
 font-weight:bold;
 font-style:italic;
 font-size:32px;
 
}
#navbar{
  padding:10px;
}

body {
  margin:0px;
  background-image:url('background_main_menu.JPG');
}

#header{
  background:#178BFD;
  padding:10px;
}

#copyright{
  background:-webkit-linear-gradient(bottom,#080809,#4E5054);
  padding:10px;
  color:#D49513;
  font-family: 'Oxanium', cursive;
}

#menu{
  background:-webkit-linear-gradient(bottom,#080809,#4E5054);
}
  
#carouselExampleIndicators{
        padding-top:20px;
      }
@media (max-width:600px) {
  #fotoprofil {
    height: 250px;
  }
}
@media (min-width:605px) {
  #fotoprofil {
    height: 400px;
  }
}
