body {
  margin: 0;
  background:white;
}

#heading {
  background:-webkit-linear-gradient(bottom,#38EF44,#1AD99E); 
  padding: 18px;
}

#content {
  font-family: 'Audiowide';
  font-size: 45px;
  text-align: center;
}

#mainwebpage {
  font-family: 'Bebas Neue';
  font-size: 20px;
  text-align: center;
}

.kartu {
  background: #FFFFFF;
  border-radius: 8px;
  width: 300px;
  height: 450px;
  text-align: center;
  padding: 10px;
  margin: 6rem auto 8.1rem auto;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

#Calculus {
  font-family: 'Coda';
  font-size: 28px;
}

a {
  text-decoration: none;
  font-family: 'Gruppo';
}
