.webpage{
  padding-left:8px;
  padding-top: 12px;
}
.gambarlogo{
  width: 150px;
}
.logo{
  display:flex;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
  margin-right: 8px;
}
nav{
  box-shadow: 0px 7px 5px #909090;
}
.carousel-item{
  height: 250px;
}
.overlay-image{
  position: absolute;
  background-position: center;
  background-size: cover;
  left: 0px;
  right:0px;
  top: 0px;
  bottom: 0px;
  -webkit-filter:brightness(75%);
}
.footer{
  background:#4E5054;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-top:20px;
}
.link{
  color: white;
}


.background-timeline{
  background:#4E5054;
  padding:15px;
  margin-top:0px;
  margin-bottom:0px;
}

h4{
  color:#30A9F6;
}
.pe{
  text-align: justify;
}
.programmingJourney{
  color:white;
  text-align: center;
}


@media (max-width:599px) {
  #slide{
  height:auto;
  width:auto;
  }
  .programmingJourney{
  font-size:2.5em;
  }
  .timeline {
    border-left: 10px solid #FFFFFF;
  }
  .time {
    background: #FFFFFF;
    padding: 20px;
    margin: 25px;
    margin-bottom:60px;
    border-radius: 7px;
    border: 3px solid #FFAC00;
  }
  
  .time:before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    background-color: #FFAC00;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    position: absolute;
    left: 8px;
  }
  
  h4:before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent #FFAC00 transparent transparent;
    border-width: 13px;
    position: absolute;
    left: 27px;
  }
  .carousel-item {
    height: 275px;
  }
  .cover{
    position: absolute;
    color:white;
    left:15px;
    bottom:33px;
  }
  .carbtn{
    display: none;
  }
  .copyright {
    text-align: center;
    color: white;
    padding:50px;
  }
}
@media (min-width:600px) {
  #slide{
  height:380px;
  width:auto;
  }
  .programmingJourney{
  font-size:4em;
  }
  .time {
    background: #FFFFFF;
    width:300px;
    padding: 20px;
    margin: 25px;
    margin-bottom:60px;
    border-radius: 7px;
    border: 3px solid #FFAC00;
  }
  
  /*.time:before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    background-color: #FFAC00;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    position: absolute;
    left: 460px;
  }
  
  h4:before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent #FFAC00 transparent transparent;
    border-width: 13px;
    position: absolute;
    left: 27px;
  }*/
  .timeline:before{
    content:"";
    position:absolute;
    width:8px;
    height:3075px;
    background: white;
    left:470px;
  }

  
   .time:nth-child(odd) {
     position: relative;
     left:560px;
   }
  .timeline .time:nth-child(even):before{
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    background-color: #FFAC00;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    position: absolute;
    left:460px;
  }
  .timeline .time:nth-child(odd):before{
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    background-color: #FFAC00;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    position: absolute;
    left:-143px;
  }
  .carousel-item{
    height: 32rem;
  }
  .cover{
    position: absolute;
    color:white;
    left: 70px;
    bottom:50px;
    position: center;
    font-size: 2em
  }
  .copyright {
    text-align: center;
    color: white;
    padding:150px;
  }
  h5{
    font-size:2.5em;
  }
}



.LatestUpdate{
  max-height: 500px;
  display:flex;
  overflow-x: auto;
  /*background: #D9DEE3;*/
  background:#FFAC00;
  padding-bottom:20px;
}
.LatestUpdate .item{
  margin:10px;
}
.update{
  padding:8px;
  border:2px solid;
  border-color:#65AAE8;
  border-radius:4px;
}

h1{
  font-family: 'Bebas Neue', cursive;
}
.image{
  height: 115px;
}   
a{
 font-family: 'Oxanium', cursive;  
 color:#D49513;
 padding:5px; 
}
#fotoprofil{
 border-color:#178BFD;
 border-style:solid;
}
.title{
 color:black;
 text-align:center;
 font-weight:bold;
 font-family: 'Coda', cursive;
 font-size:32px;
 padding:15px;
}
.titleUpdate{
 color:black;
 text-align:center;
 font-weight:bold;
 font-family: 'Coda', cursive;
 font-size:32px;
 padding:15px;
 /*background: #D9DEE3;*/
 background:#FFAC00;
 
 
}  
#navbar{
  padding:10px;
}

body {
  margin:0px;
  background:#F0F0F0;
}

#header{
  background: -webkit-linear-gradient(bottom, #0BC1E5,#1B65E8);
  padding:10px;
}



#menu{
  background:-webkit-linear-gradient(bottom,#080809,#4E5054);
}
  
#carouselExampleIndicators{
        padding-top:20px;
      }
@media (max-width:600px) {
  #fotoprofil {
    height: 250px;
  }
}
@media (min-width:605px) {
  #fotoprofil {
    height: 400px;
  }
}
