@media (max-width:600px){
  #judul{
  font-family: 'Turret Road', cursive;
  background: #0EBB42;
  font-size: 2em;
  padding:12px;
  margin:10px;
  border-radius:8px;
  }
  
  p {
    text-indent: 20px;
  }
  #keterangan {
    font-weight: bold;
  }
  .rumus1{
    text-indent:25px;
  }
  .rumus-akhir{
    text-align:center;
    background:#1298DA61;
    padding:7px;
    border-radius:8px;
    padding-left: 7px;
    padding-right: 7px;
  }
    .rumus2{
    text-align:center;
    background: #C4151526;
    border-radius:8px;
    padding:7px;
  }  
  .copyright{
    text-align:center;
    font-family: 'Coda', cursive;
  }
  
  
}
@media (min-width:601px){
   #judul {
     font-family: 'Turret Road', cursive;
     background: #0EBB42;
     font-size: 6em;
     padding:7px;
     margin:10px;
   }
   
   p {
     text-indent: 20px;
   }
}
