body{
  margin:0;
  background:#E3E8EE82;
}
#heading{
  background: #178BFD;
  padding:18px;
}
#content{
  font-family: 'Press Start 2P', cursive;
  font-size:38px;
  text-align:center;
} 
#mainwebpage{
  font-family: 'Bebas Neue', cursive;
  font-size:20px;
  text-align:center;
}
.kartu {
  background: #FFFFFF;
  border-radius: 8px;
  width: 300px;
  height: 450px;
  text-align: center;
  padding:5px;
  margin: 6rem auto 8.1rem auto;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}
#IntroToCS{
  font-family: 'Coda', cursive;
  padding:20px;
}
a{
  text-decoration:none;
  font-family: 'Gruppo', cursive;
}
