body{
  margin:0px;
}
.header{
  background:-webkit-linear-gradient(right,#10AEC1,#A4DFE6,#10AEC1);
}
.judulkartu{
  font-size: 1.5em;
  padding:20px;
}
.hasil{
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2em;
  margin-top:24px;
  margin-bottom:15px;
}
.tombol{
  margin-top:25px;
}
.copyright{
  text-align: center;
  padding:15px;
  background:-webkit-linear-gradient(right,#10AEC1,#A4DFE6,#10AEC1);
}
@media (max-width:599px){
  .kartu {
    background: #FFFFFF;
    border-radius: 8px;
    width: 329px;
    height: 474px;
    text-align: center;
    padding: 15px;
    margin: 6rem auto 8.1rem auto;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  }
}

@media (min-width:600px) {
  .kartu {
    background: #FFFFFF;
    border-radius: 8px;
    width: 900px;
    height: 474px;
    text-align: center;
    padding: 15px;
    margin: 6rem auto 8.1rem auto;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  }
}

.title{
  font-family: 'Monoton', cursive;
  text-align: Center;
  font-size:3em;
}
.sub-title{
  text-align: Center;
  font-size:2em;
  font-family: 'Bebas Neue', cursive;
}
