:root {
    --brown-first: #865b29;
    --brown-second:#694720;
    --white: rgb(201, 201, 201);
}

#heading {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

#message {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 1.5;
}

label {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--brown-first);
}

input {
    display: block;
    height: 2em;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    padding: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}


@media (min-width: 1024px) {
    body {
        background-image: url("/assets/home-background.jpg");
        background-size: cover;
        height: 100vh;
    }

    #heading {
        color: whitesmoke;
        font-size: 2.5em;
        text-align: center;
        padding-top: 180px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    #message {
        padding-top: 50px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-style: italic;
        color: whitesmoke;
        font-size: 1.5em;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    body {
        background-image: url("/assets/home-background-phone.jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #heading {
        font-size: 1.6em;
        color: var(--brown-first);
        text-align: center;
        padding-top: 180px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #message {
        font-size: 1.4em;
        color: var(--brown-first);
        text-align: center;
        padding-top: 50px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #formulir {
        padding-top: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        margin-top: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 3em;
        border: none;
        border-radius: 10px;
        background-color: var(--brown-first);
        color: whitesmoke;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.1em;
    }
}

