.logo {
  display: flex;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
  margin-right: 8px;
}
.webpage{
  padding-left:8px;
  padding-top: 12px;
}
.footer{
  background:#4E5054;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /*margin-top:20px;*/
}
.d-flex{
  padding:15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}
.masukan{
  margin-right: 10px;
}
.link{
  color: white;
}



@media (min-width:600px) {
  .kartu {
    background: #2B2B2B;
    border-radius: 8px;
    width: 329px;
    padding: 15px;
    opacity: 0.9;
    color:white;
    margin: 6rem auto 8.1rem auto;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  }
  .weather{
    display: flex;
    padding:15px;
    padding-top: 20px;
  }
  .gambar{
    /*position: relative;
    left:26px;
    top:20px;*/
    padding-right: 15px;
    text-align: center;
  }
  .city{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5em;
    padding-left: 15px;
  }
  .temp{
    font-size: 3em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 3;
  }
  .copyright {
    text-align: center;
    margin-left: 150px;
    color: white;
  }
  /*.content{
    background:-webkit-linear-gradient(right,#10AEC1,#A4DFE6,#10AEC1);
  }*/
  .content {
  padding: 2rem 5%;
  position: relative;  
  background-image: url("https://source.unsplash.com/1600x900/?view");
  background-size:cover;
  padding-bottom: 100px;
}
  button.submit {
    margin: 0.5em;
    border-radius: 22px;
    border: 1px solid #0971DF;
    height: 44px;
    width: 44px;
    outline: none;
    background: -webkit-linear-gradient(left,#2E3192,#1BFFFF,#2E3192);
    color: white;
    background-size:100px;
    cursor: pointer;
    transition: 0.8s 
  }
  input.masukan {
    margin:0.5em;
    border: 1px solid #0971DF;
    outline: none;
    height: 44px;
    padding: 0.4em 1em;
    border-radius: 22px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width:95%;
  }

  button:hover {
    background-position:right;
  }
  input.masukan:hover {
    background: #717171;
  }
  img .gambar {
    opacity: 100%;
  }
  .cuaca{
    display: none;
  }
}
@media (max-width:599px){
  .kartu {
    background: #2B2B2B;
    border-radius: 8px;
    width: 329px;
    padding: 15px;
    opacity: 0.85;
    color:white;
    margin: 6rem auto 8.1rem auto;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  }
  .weather{
    display: flex;
    padding:15px;
    padding-top: 20px;
  }
  .gambar{
    /*position: relative;
    left:26px;
    top:20px;*/
    padding-right: 15px;
    text-align: center;
  }
  .city{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5em;
    padding-left: 15px;
  }
  .temp{
    font-size: 3em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 3;
  }
  .copyright {
    text-align: center;
    color: white;
    padding:50px;
  }
  /*.content{
    background:-webkit-linear-gradient(right,#10AEC1,#A4DFE6,#10AEC1);
  }*/
  .content {
  padding: 2rem 5%;
  position: relative;
  height: 600px;
  background-image: url("https://source.unsplash.com/412x846/?view"); /* If our image is bright, we can tone it down with this darker overlay */
  background-size:cover;
  padding-bottom: 100px;
}
  button.submit {
    margin: 0.5em;
    border-radius: 22px;
    border: 1px solid #0971DF;
    height: 44px;
    width: 44px;
    outline: none;
    background: -webkit-linear-gradient(left,#2E3192,#1BFFFF,#2E3192);
    color: white;
    cursor: pointer;
    background-size:100px;
    transition: 0.8s;
  }
  input.masukan {
    margin:0.5em;
    border: 1px solid #0971DF;
    outline: none;
    height: 44px;
    padding: 0.4em 1em;
    border-radius: 22px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width:95%;
  }

  button:hover {
    background-position:right;
  }
  input.masukan:hover {
    background: #717171;
  }
  img .gambar {
    opacity: 100%;
  }
  .cuaca{
    display: none;
  }
}
  
